:local(.styles) {
  button {
    height: 35px;
    width: 140px;
  }



  div {
    display: inline;
    padding-left: 2%;
    padding-right: 2%;
  }

  .buttons {
    display:flex;
    justify-content:center;
    align-items:center; 
  }

  h3 {
    text-align: center;
  }
}
