:local(.styles) {

  .title{
    text-align : center;

    margin-top: 80;
  }

  .limit{
    width: 600px;
  }

 .container, .centerMe{
  	display:flex;
  	justify-content:center;
  	align-items:center; 
  }

  .card .container {
    display: block;
  }

  //Work around to center the button
  .card section .container{
    display: flex;
  }

  .bottom-pad {
    padding-top: 4%;
    padding-bottom: 3%;
    padding-left: 25%;
    padding-right: 25%;
  }

  .card .res-input {
    padding: 10px;
  }

  .centerText{
    text-align : center;
  }

}
